@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}
